{% extends "base.html" %}

{% block content %}
    <p>First name: {{applicant.user.first_name}}</p>
    <p>Last name: {{applicant.user.last_name}}</p>
    <p>Gender: {{applicant.user.gender}}</p>
    <p>Email: {{applicant.user.email}}</p>
    <p>Contact No.: {{applicant.user.mobile}}</p>
    <p>Applied for job at: {{applicant.created_at.astimezone}}</p>
    <p>Last date of application: {{applicant.job.last_date.astimezone}}</p>
    <p>Current status: {{applicant.get_status}}</p>
    <p>Current Branch: {{applicant.user.branch}}</p>
    <p>Current Course: {{applicant.user.course}}</p>
    <p>CPI of Applicant: {{applicant.user.cpi}}</p>
    <p>Job Title: {{applicant.job.title}}</p>
    <p>Job description: {{applicant.job.description}}</p>
    <p>Job Type: {{applicant.job.get_type_display}}</p>
    <p>Job Category: {{applicant.job.category}}</p>
    <p>Job Location: {{applicant.job.location}}</p>
    <p>Accepted Salary: {{applicant.job.salary}}</p>
    <p>Job already filled ? {{applicant.job.filled}}</p>
    
    {% if applicant.status == 2 %}
        <P>You have already accepted the applicant</P>
    {% elif applicant.status == 0 %}
        <p>You have already rejected the applicant</p>
    {% else %}
        <a href="{% url 'main_app:accept' applicant.id %}">Accept</a>
        <a href="{% url 'main_app:reject' applicant.id %}">Reject</a>
    {% endif %}

{% endblock content %}  