{% extends "base.html" %}

{% block content %}
<div class="container card">
    <h1>My Applications</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
              <th>Job Title</th>
              <th>Company</th>
              <th>Type</th>
              <th>Status</th>
              <th>Salary provided</th>
            </tr>
            
            {% for applicant in applicants %}
                <tr>
                  <td>{{applicant.job.title}} 
                  {% if applicant.job.filled %}
                    (Filled)
                  {% endif %}
                    </td>
                  <td>{{applicant.job.company_name}}</td>
                  <td>{{applicant.job.get_type_display}}</td>
                  <td>{{applicant.get_status}}</td>
                  <td>{{applicant.job.salary}}</td>
                </tr>
            {% endfor %}
              
        </table>
    </div>
</div>
        
{% endblock content %}