{% extends "base.html" %}
{% load applied %}

{% block content %}
    {{job.title}}
    {{job.company_name}}
    {{job.location}}
    {{job.type}}
    {{job.category}}
    {{job.last_date}}
    {{job.company_name}}
    {{job.company_description}}
    {{job.website}}
    {{job.created_at}}
    {{job.salary}}

    
    {% if request.user.is_authenticated %}
        {% if request.user.role == 'employee' %}
            {% applied job request.user as is_applied %}
            {% if is_applied %}
                <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>
            {% else %}
                <form action="{% url 'main_app:apply-job' job.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="job" value="{{ job.id }}">
                    <input type="submit" class="btn btn-outline-white-primary" value="Apply for this job"/>
                </form>
            {% endif %}
        {% elif request.user.role == 'employer' %}
            
            {% if job.filled %}
                <p>Already filled</p>
            {% else %}
                <a href="{% url 'main_app:filled' job.id %}">Filled</a>
            {% endif %}
                
        {% endif %}
    {% else %}
        <input type="button" class="btn btn-outline-white-primary" value="Please login first"/>
    {% endif %}
        

{% endblock content %}