{% extends "base.html" %}
{% load applied %}

{% block content %}
    <div>
        <p>Job Title: {{job.title}}</p>
        <p>Location: {{job.location}}</p>
        <p>Type: {{job.get_type_display}}</p>
        <p>Category: {{job.category}}</p>
        <p>Last Date: {{job.last_date}}</p>
        <p>Company: {{job.company_name}}</p>
        <p>Company Description: {{job.company_description}}</p>
        <p>Job Website: <a href="{{job.website}}">{{job.website}}</a></p>
        <p>Salary provided: {{job.salary}}</p>
    </div>

    
    {% if request.user.is_authenticated %}
        {% if request.user.role == 'employee' %}
            {% applied job request.user as is_applied %}
            {% if is_applied %}
                <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>
            {% else %}
                <form action="{% url 'main_app:apply-job' job.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="job" value="{{ job.id }}">
                    <input type="submit" class="btn btn-outline-white-primary" value="Apply for this job"/>
                </form>
            {% endif %}
        {% elif request.user.role == 'employer' %}
            
            {% if job.filled %}
                <p>Already filled by a candidate</p>
            {% else %}
                <a href="{% url 'main_app:filled' job.id %}">Mark the job as filled by a candidate</a>
            {% endif %}
                
        {% endif %}
    {% else %}
        <input type="button" class="btn btn-outline-white-primary" value="Please login first"/>
    {% endif %}
        

{% endblock content %}