{% extends "base.html" %}

{% block content %}
<style>
    @keyframes slider{
            0%{transform:translateX(-1000px)}
            /* 90%{transform: translateX(10px)} */
            100%{transform:translateX(0px)}
        }
    @keyframes slider1{
        0%{transform:translateX(1000px)}
        /* 90%{transform: translateX(10px)} */
        100%{transform:translateX(0px)}
    }
</style>
    <div class="container card" 
    style='background-color:  rgb(197, 197, 197);animation: slider 2s ease 0s 1 normal;border-radius: 13px; '>
        <h1>Job Listings</h1>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Type</th>
                  <th>Salary</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Details</th>
                </tr>
                
                {% for job in jobs %}
                    <tr>
                        <td>{{job.title}} {% if job.filled %}
                            (Filled) {% endif %}</td>
                        <td>{{job.company_name}}</td>
                        <td>{{job.type}}</td>
                        <td>{{job.salary}}</td>
                        <td>{{job.category}}</td>
                        <td>{{job.location}}</td>
                        <td><a href="{% url 'main_app:job_detail' job.id %}" class="btn btn-info btn-sm">Details</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    {% if request.user.role == "employer" %}
    <div style="background-color:  rgb(197, 197, 197);border-radius: 20px;margin-top: 40px;animation: slider1 2s ease 0s 1 normal">
        <a href="{% url 'main_app:new_job' %}" 
        style="color: rgb(50, 87, 50);font-size: 21px;padding :5px;padding-left: 10px;padding-right: 10px;"
        >Add a new job</a>
    </div>
    {% endif %}
{% endblock content %}